/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.main-div{
  position: relative;
  padding: 0 100px 0 100px;
}

.header-div{
  position: relative;
  color: white;
  font-size: 20px;
  margin-top: 20px;
}

.logo{
  position: absolute;
}

li{
  display: inline-block;
  /* float: right; */
  margin: 0 0 0 50px;
  padding-left: 0
}

body{
  background-color: black;
}

.body-content{
  position: relative;
  /* text-align: center; */
}

.description{
  position: absolute;
  top: 170px;
  right: 10px;
  left: 100px;
  font-size: 20px
}

img{
  width: 400px;
  height: 400px;
  outline: solid 10px white;
}

p{
  padding-top: 50px;
  text-align: left;
}

.menu {
  position: absolute;
  right: 0px;
  margin-top: 25px;
}

.image-desc{
  position: absolute;
  right: -60px;
  top: 300px;
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  color: white;
}

h1{
  color: white;
}

.btn-outline-secondary {
  color: white !important;
  background-color: blue !important;
  background-image: none;
  border-color: #6c757d;
}

.secondname{
  padding-left: 50px;
}

.image-content{
  position: absolute;
  top: 100px;
  left: 100px;
  width: 100px;
  height: 100px;
}

hr{
  color: white;
  height: 5px;
  background-color: grey;
  margin: 10px 350px 30px 40px;
}

a{
  color: white;
}
